body{
    background-color: #ffc685;
}

.imgLogo{
    width: 120px;
    text-align: left;
}

.imgMenu{
    width: 65px;
    padding-bottom: 7px;
}

.wpp{
    width: 52px;
    padding-bottom: 14px;
}

.links{
    text-align: right;
    padding-left: 1020px;
    display: inline-block;
}

.titulo{
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
}

.subtitulo{
    text-align: center;
    font-style: italic;
    color: brown;
}

.atendimento{
    font-size: 20px;
}

.sabores{
    font-size: 40px;
    text-align: center;
}

section{
    margin: 40px;
    padding-left: 9%;
}

.topCard{
    padding-bottom: 20px;
}

.oneCard{
    text-align: center;
    display: inline-block;
    padding-left: 9%;
}

.twoCard{
    text-align: center;
    padding-left: 12%;
    display: inline-block;
}

.threeCard{
    text-align: center;
    padding-left: 11%;
    display: inline-block;
}

.fourCard{
    text-align: center;
    padding-left: 3%;
    display: inline-block;
}

.fiveCard{
    text-align: center;
    padding-left: 7%;
    display: inline-block;
}

.sixCard{
    text-align: center;
    padding-left: 11%;
    display: inline-block;
}