body{
    background-color: #ffc685;
}

.titulo{
    font-size: 45px;
    text-align: center;
    
}

.subtitulo{
    text-align: center;
    font-style: italic;
    color: brown;
}

.atendimento{
    font-size: 20px;
}

.sabores{
    font-size: 40px;
    text-align: center;
}

section{
    margin: 40px;
    padding-left: 9%;
}

.topCard{
    padding-bottom: 20px;
}

.oneCard{
    text-align: center;
    display: inline-block;
    padding-left: 9%;
}

.twoCard{
    text-align: center;
    padding-left: 12%;
    display: inline-block;
}

.threeCard{
    text-align: center;
    padding-left: 11%;
    display: inline-block;
}

.fourCard{
    text-align: center;
    padding-left: 3%;
    display: inline-block;
}

.fiveCard{
    text-align: center;
    padding-left: 7%;
    display: inline-block;
}

.sixCard{
    text-align: center;
    padding-left: 11%;
    display: inline-block;
}